<div class="form-wrapper">
  <h2><%= @event.title %></h2>
  <p>Date: <%= @event.date %></p>
  <% if current_user.events.include?(@event) %>
  <%= link_to "Edit #{ @event.title }", edit_event_path %>
  <br>
  <%= link_to "Delete #{ @event.title }", event_path(@event), method: :delete %>


  <% end %>
  <br>
  <%= link_to "Create a reminder", new_event_reminder_path(@event), class: "btn btn-default" %>
  <hr>
  <%= link_to "Reminders", "#{@event.id}/reminders" %>
</div>
